<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel App
  </div>
  <form class ="holder dest">
    <label for="dest">Where to?</label>
    <input type="text" id="dest" placeholder="Destination">
  </form>
  <form class ="holder depart">
    <label for="depart">When?</label>
    <input class= "myInput" id="depart" type="date" name="bday">
    <button id="generate" type = "submit"> Generate </button>
  </form>
  <div class ="holder picture">
    <div class ="pic">Destination Picture</div>
<script></script>

</body>
</html>
