<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel App
  </div>
  <div class ="holder dest">
    <label for="dest">Where do you want to go?</label>
    <input type="text" id="dest" placeholder="Destination">
  </div>
  <div class ="holder depart">
    <label for="depart">When are you leaving?</label>
    <input class= "myInput" id="depart" placeholder="Departure Date" rows="2" cols="25">
    <button id="generate" type = "submit"> Generate </button>
  </div>
  <div class ="holder picture">
    <div class ="pic">Destination Picture</div>
<script></script>

</body>
</html>
