<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel App
  </div>
  <form class ="holder dest">
    <label for="dest">Where to?</label>
    <input type="text" id="dest" placeholder="Destination">
  </form>
  <form class ="holder depart">
    <label for="depart">Depart</label>
    <input class= "myInput" id="depart" type="date" name="bday">
    <!-- Verify best format for cross-browser rendering -->
    <!-- <input type="week" name="<user_week">
    <input type="month" name="user_month"> -->
  </form>
  <form class ="holder return">
    <label for="depart">Return</label>
    <input class= "myInput" id="return" type="date" name="bday">

  </form>
  <button id="search" type = "submit">Search</button>
  <div class ="holder picture">
    <div class ="pic"></div>
    <img id="image" alt="">
  </div>
  <div id="tripDisplay" class="holder"></div>
  <div class="weatherHeader holder">
    <div id="weatherInput"></div>
    <div id="weatherDescript"></div>
  </div>
</div>
</body>
</html>
