body{
  background: #1d2239;
  margin-left: 8%;
  margin-right: 8%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    // margin declaration below not working??
    grid-template-rows: 110px 65px 25px 300px;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    width: 100%;
    background: #1d2239;
    color: #f0d43a;
    justify-content: space-between;
    grid-gap: 10px;
    font-family: 'Oswald', sans-serif;
    // border: 1px solid red;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    // border: 1px solid red;
}

.headline {
  font-size: 70px;
  border-bottom: 5px solid blue;
  grid-area: 1/1/1/3;
}

.dest {
    grid-area: 2/1/2/1;
}

.myInput {
    display: inline;
}

.depart {
    grid-area: 2/2/2/3;
}

.return {
    grid-area: 2/3/2/4;
}

.picture{
    grid-area: 4/1/4/4;
}

img{
    object-fit: cover;
}
button {
    grid-area: 3/1/3/2;
    border-radius: 5px;
}

.weatherHeader {
    font-size: 20px;
    grid-area: 4/4/4/9;
    // border: 1px solid green;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    font-size: 20px;
}

input{
    display: inline;
    border-radius: 5px;
    background:#535e6f;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 70px;
    height: 25px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}
