body{
  background: #56938d;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    padding-left: 2%;
    margin-top: none;
    grid-template-rows: 110px 65px 25px 300px 60px 60px;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    width: 100%;
    background: white;
    color: black;
    justify-content: space-between;
    grid-gap: 10px;
    font-family: 'Oswald', sans-serif;
    // border: 1px solid red;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    // border: 1px solid red;
}

.headline {
  font-size: 70px;
  border-bottom: 5px solid #56938d;
  grid-area: 1/1/1/3;
}

.dest {
    grid-area: 2/1/2/1;
}

.myInput {
    display: inline;
}

.depart {
    grid-area: 2/2/2/3;
}

.return {
    grid-area: 2/3/2/4;
}

.picture{
    grid-area: 4/1/4/4;
}

img{
    object-fit: cover;
}
button {
    grid-area: 3/1/3/2;
    border-radius: 5px;
    background-color: #535e6f;
}

button:hover {
  background-color: #181d2d
}

#tripDisplay {
    display: flex;
    padding-top: 2%;
    font-size: 35px;
    grid-area: 6/1/6/4;
    border-top: 1px solid black;
}

.weatherHeader {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  grid-area: 5/1/5/4;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    font-size: 20px;
}

input{
    display: inline;
    border-radius: 5px;
    background:white;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
}

button{
    width: 70px;
    height: 25px;
    background: #3b4a6b;
    color: white;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: black;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-family: 'Oswald', sans-serif;

}
